<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

 	<global-method-security secured-annotations="enabled"></global-method-security>
 	
    <http auto-config="true">
    	<intercept-url pattern="/**" access="ROLE_USER" />
    	<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
    	<intercept-url pattern="/test" access="IS_AUTHENTICATED_ANONYMOUSLY" />
   		<form-login authentication-success-handler-ref="successHandler" />
    	<logout logout-success-url="/logout"  />
    </http>

    <beans:bean class="com.ostwebdev.fantasystrategy.service.UserDetailServiceImpl" id="UserDetailServiceImpl" />
    
    <authentication-manager>
    	<authentication-provider user-service-ref="UserDetailServiceImpl">
    		<!-- 
    		<password-encoder hash="md5">
    			<salt-source system-wide="cewuiqwzie" />
    		</password-encoder>
    		 -->
    	</authentication-provider>
    </authentication-manager>
	
	<beans:bean id="successHandler" class="com.ostwebdev.fantasystrategy.security.SuccessHandler" />
	
</beans:beans>